.header {
  font-size: 10px;
  width: 100%;
  margin: auto;
  position: absolute;
	height: 130px;
	left: 0px;
	top: 0px;

	background: #D7BE67;
}

h2 {
	font-size: 30px;
}

h4 {
	position: absolute;
	left: 47.5%;
  top: 1540px;
	font-size: 30px;
}

h1{
	position: absolute;
	left: 45px;
	top: 0px;
	font-size: 50px;
}

h3{
	position: absolute;
	right: 60px;
	top: 0px;
	font-size: 20px;
}

.img{
	width: 100%
}

.flexcont {
	display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
}

.content{
	width: 100%;
	background: #D7BE67;
}

.threerow {
	width: 33%;
  height: 500px;
  text-align: center;
  background: white;
}

.lkcont {
	width: 100%;
	text-align: center;
	background: #D7BE67;
	height: 80px;
}

.links {
	position: absolute;
	top: 1630px;
	width: 100%;
	font-size: 20px;
	background: white;
	height: 80px;
}

.footer {
	position: absolute;
	top: 1740px;
	width: 100%;
  height: 70px; 
  text-align: center;
  background-color: #D7BE67;
  font-size: 20px;
  box-sizing: border-box;
}
